.events-added > .three.column.row > .column:nth-child(1) {
    padding-right: 0 !important;
    padding-left: 2rem !important;
}

.events-added > .three.column.row > .column:nth-child(1) > h5.ui.header > .content {
    color: var(--headers-blue) !important;
}

.events-added > .three.column.row > .column:nth-child(1) > h5.ui.header > .content > .sub.header {
    font-weight: normal;
    font-size: .9rem;
}

.events-added > .three.column.row > .column:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 .6rem;
}

.events-added > .three.column.row > .column:nth-child(2) > .field > .ui.input {
    width: 5rem !important;
}