.ui.grid.modalForm form {
    margin-top: 16px;
}

.ui.grid.modalForm .ui.header {
    margin-top: 0;
}

.ui.grid.modalForm > .column:nth-child(2) {
    padding: 24px;
}

.ui.grid.modalForm > .column:first-child {
    display: flex !important;
    align-items: center;
    width: 256px !important;
    background-color: var(--blue);
    flex-grow: 0;
    -webkit-box-shadow: 2px 0 8px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 0 8px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, .3);
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.ui.grid.modalForm > .column:first-child img{
    max-height: 99px !important;
}

.ui.grid.modalForm > .column:first-child h3{
    color: rgba(255, 255, 255, .8);
}
