.dropdown-service-menu {
    border-color: var(--headers-blue) !important;
    display: flex;
    margin: 0 !important;
}

.dropdown-service-menu .item {
    color: var(--headers-blue) !important;
}

.dropdown-service-menu .item:before {
    background-color: var(--headers-blue) !important;
}

.dropdown-service-menu > .item:before,
.place-of-departure > .item:before {
    background-color: transparent !important;
}

.place-of-departure {
    border-color: var(--headers-blue) !important;
}

.place-of-departure > .right.menu > .item,
.place-of-departure > .item > h5.ui.header > .content {
    color: var(--headers-blue);
}

.place-of-departure > .item > h5.ui.header > .content > .sub.header {
    font-size: .9em;
}

.place-of-departure > .item > h5.ui.header > .content > span {
    font-weight: normal !important;
}

.place-of-departure > .right.menu > .item:before {
    background-color: var(--headers-blue) !important;
}