@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6p589o');
  src:  url('fonts/icomoon.eot?6p589o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6p589o') format('truetype'),
    url('fonts/icomoon.woff?6p589o') format('woff'),
    url('fonts/icomoon.svg?6p589o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-layout:before {
  content: "\e966";
}
.icon-slack:before {
  content: "\e967";
}
.icon-arrow-down:before {
  content: "\e963";
}
.icon-arrow-up:before {
  content: "\e964";
}
.icon-copy:before {
  content: "\e965";
}
.icon-dashboard-2:before {
  content: "\e96f";
}
.icon-list-alt:before {
  content: "\e968";
}
.icon-build:before {
  content: "\e969";
}
.icon-calendar-today:before {
  content: "\e96a";
}
.icon-filter-list:before {
  content: "\e96b";
}
.icon-timeline:before {
  content: "\e96c";
}
.icon-assessment:before {
  content: "\e96d";
}
.icon-work-outline:before {
  content: "\e96e";
}
.icon-light-bulb:before {
  content: "\e901";
}
.icon-alert-circle:before {
  content: "\e902";
}
.icon-alert-triangle:before {
  content: "\e903";
}
.icon-bar-chart:before {
  content: "\e905";
}
.icon-bar-chart-2:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e907";
}
.icon-bell-off:before {
  content: "\e906";
}
.icon-bike:before {
  content: "\e961";
}
.icon-bus:before {
  content: "\e960";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-car:before {
  content: "\e95e";
}
.icon-check:before {
  content: "\e95c";
}
.icon-check-circle:before {
  content: "\e909";
}
.icon-check-square:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-up:before {
  content: "\e90e";
}
.icon-clipboard:before {
  content: "\e90f";
}
.icon-clock:before {
  content: "\e910";
}
.icon-crosshair:before {
  content: "\e911";
}
.icon-database:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-doc-file:before {
  content: "\e949";
}
.icon-edit:before {
  content: "\e914";
}
.icon-edit-2:before {
  content: "\e950";
}
.icon-edit1:before {
  content: "\e951";
}
.icon-external-link:before {
  content: "\e962";
}
.icon-eye:before {
  content: "\e916";
}
.icon-eye-off:before {
  content: "\e915";
}
.icon-file-minus:before {
  content: "\e95a";
}
.icon-file-plus:before {
  content: "\e95b";
}
.icon-file-text:before {
  content: "\e917";
}
.icon-filter:before {
  content: "\e918";
}
.icon-heart:before {
  content: "\e919";
}
.icon-help-circle:before {
  content: "\e91a";
}
.icon-info:before {
  content: "\e91b";
}
.icon-layers:before {
  content: "\e91c";
}
.icon-link:before {
  content: "\e91d";
}
.icon-list:before {
  content: "\e91e";
}
.icon-lock:before {
  content: "\e91f";
}
.icon-log-in:before {
  content: "\e920";
}
.icon-log-out:before {
  content: "\e921";
}
.icon-mail:before {
  content: "\e922";
}
.icon-map:before {
  content: "\e924";
}
.icon-map-pin:before {
  content: "\e923";
}
.icon-menu:before {
  content: "\e925";
}
.icon-message-square:before {
  content: "\e948";
}
.icon-minus:before {
  content: "\e928";
}
.icon-minus-circle:before {
  content: "\e926";
}
.icon-minus-square:before {
  content: "\e927";
}
.icon-more-horizontal:before {
  content: "\e929";
}
.icon-more-vertical:before {
  content: "\e92a";
}
.icon-navigation:before {
  content: "\e952";
}
.icon-paperclip:before {
  content: "\e92b";
}
.icon-pdf-file:before {
  content: "\e94a";
}
.icon-people:before {
  content: "\e95f";
}
.icon-pie-chart:before {
  content: "\e92c";
}
.icon-play:before {
  content: "\e92d";
}
.icon-plus:before {
  content: "\e930";
}
.icon-plus-circle:before {
  content: "\e92e";
}
.icon-plus-square:before {
  content: "\e92f";
}
.icon-ppt-file:before {
  content: "\e94b";
}
.icon-printer:before {
  content: "\e931";
}
.icon-radio:before {
  content: "\e953";
}
.icon-refresh-cw:before {
  content: "\e932";
}
.icon-repeat:before {
  content: "\e933";
}
.icon-rocket:before {
  content: "\e94c";
}
.icon-rotate-ccw:before {
  content: "\e934";
}
.icon-rotate-cw:before {
  content: "\e935";
}
.icon-rss:before {
  content: "\e936";
}
.icon-search:before {
  content: "\e937";
}
.icon-settings:before {
  content: "\e938";
}
.icon-share-2:before {
  content: "\e939";
}
.icon-short-broom:before {
  content: "\e94d";
}
.icon-sliders:before {
  content: "\e93a";
}
.icon-square:before {
  content: "\e95d";
}
.icon-star:before {
  content: "\e93b";
}
.icon-thumbs-down:before {
  content: "\e93c";
}
.icon-thumbs-up:before {
  content: "\e93d";
}
.icon-transfer:before {
  content: "\e94e";
}
.icon-trash:before {
  content: "\e93f";
}
.icon-trash-2:before {
  content: "\e93e";
}
.icon-trending-down:before {
  content: "\e940";
}
.icon-trending-up:before {
  content: "\e941";
}
.icon-unlock:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e958";
}
.icon-user-check:before {
  content: "\e954";
}
.icon-user-minus:before {
  content: "\e955";
}
.icon-user-plus:before {
  content: "\e956";
}
.icon-user-x:before {
  content: "\e957";
}
.icon-users:before {
  content: "\e959";
}
.icon-x:before {
  content: "\e945";
}
.icon-x-circle:before {
  content: "\e943";
}
.icon-x-square:before {
  content: "\e944";
}
.icon-xls-file:before {
  content: "\e94f";
}
.icon-zoom-in:before {
  content: "\e946";
}
.icon-zoom-out:before {
  content: "\e947";
}
.icon-calendar-2:before {
  content: "\e900";
}
