.rangeFilters {
    width: 100%;
    margin-top: 20px;
}

.rangeFilters .input-range__label {
    color: #333 !important;
}

.rangeFilters .input-range__slider {
    background: #777 !important;
    border-color: #777 !important;
}

.rangeFilters .input-range__track--active {
    background: var(--black-50) !important;
}

.rangeFilters .ui.form {
    margin-top: 40px;
}

.rangeFilters .ui.button {
    margin: 15px 0;
    width: 100%;
    background-color: var(--blue);
    color: #FFF;
    text-transform: uppercase;
}

.rangeFilters .rangeInput {
    width: 5.7rem !important;
}