.flagsRegions:after {
    position: absolute;
    top: 0;
    left: 1.9rem;
    padding: 0 .3rem;
    font-size: 1em;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
}

.flagsRegions.region:after, .flagRegionAPI.region {
    content: 'R';
    background-color: #666699;
}
.flagsRegions.country:after, .flagRegionAPI.country {
    content: 'P';
    background-color: #666666;
}
.flagsRegions.state:after, .flagRegionAPI.state {
    content: 'E';
    background-color: #FF6666;
}
.flagsRegions.city:after, .flagRegionAPI.city {
    content: 'C';
    background-color: #33CCFF;
}

.flagsRegions label {
    padding-left: 3.6rem !important;
}

.flagRegionAPI {
    padding: 0 .3rem;
    font-size: 1em;
    font-weight: 700;
    color: #FFF !important;
    text-align: center;
    border-radius: 2px;
    margin-right: .4rem;
    position: unset !important;
}

.descriptionRegions {
    margin-left: 1.8rem;
}

.itensRegions p {
    color: var(--black-60) !important;
    margin-left: 3.5rem;
}

.checkedRegions {
    padding-bottom: .5rem !important;
}

.checkedRegions span {
    color: var(--black-60);
    position: absolute;
    left: 1rem;
    margin-top: 1rem;
}

.filterDropdown > .item > span {
    font-weight: 700;
    color: #FFF;
    padding: 1px 4px;
    border-radius: 2px;
    text-align: center;
}

.filterDropdown > .item > span.p {
    background-color: #666666;
}

.filterDropdown > .item > span.e {
    background-color: #FF6666;
}

.filterDropdown > .item > span.c {
    background-color: #33CCFF;
}

.filterDropdown > .item > span.r {
    background-color: #666699;
}

.contentRemoveRegions {
    margin-top: -.5rem !important;
}
