.route-found > .row > .column:not(:last-child) {
    padding-right: 0 !important;
    color: #FFF;
}

.route-found > .row > .column:nth-of-type(1) > div {
    width: 100%;
    border: 1px solid #FFF;
    padding: .6rem .7rem;
    float: left;
    border-radius: .3rem;
    cursor: default;
}

.route-found > .row > .column:nth-of-type(1) > div > .mw-icon {
    font-size: 1.25em;
    float: left;
}

.route-found > .row > .column:nth-of-type(1) > div > span {
    margin-top: -.15em;
    float: left;
    cursor: pointer;
}

.route-found > .row > .column:nth-of-type(2) > .ui.menu {
    background-color: transparent;
    border-color: #FFF;
}

.route-found > .row > .column:nth-of-type(2) > .mw-icon {
    border: 1px solid #FFF;
    border-radius: 4px;
    width: 100%;
    height: 2.6rem;
    text-align: center;
    color: #FFF;
    padding-top: .7rem;
}

.route-found > .row > .column:nth-of-type(2) > .ui.dropdown > .mw-icon {
    margin: 0;
}

.filters-dropdown-popup > .ui.secondary.vertical.menu > .item {
    font-size: .9em;
    color: var(--black-70);
}

.number-of-points-modal > .ui.bottom.attached.segment > .number-of-points-close {
    font-size: 1.3em;
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 99;
}

.number-of-points-modal > .ui.bottom.attached.segment > .number-of-points-close > .mw-icon {
    margin: 0;
}

.number-of-points-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > h3.ui.center.aligned.header > .content {
    color: var(--headers-blue) !important;
}


.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
}

.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column {
    padding: 0;
}

.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column:nth-of-type(1) > h5.ui.header > .content,
.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column:nth-of-type(1) > h5.ui.header > .content > .sub.header {
    font-weight: normal !important;
    color: var(--headers-blue);
    margin-top: .4rem;
    padding-right: .3em;
}

.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column:nth-of-type(1) > h5.ui.header > .content > .sub.header {
    font-size: .9em;
    color: rgba(15, 34, 77, .8) !important;
}

.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column:nth-of-type(2) {
    font-weight: 700;
    font-size: .8em;
    color: var(--headers-blue);
}

.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column:nth-of-type(2) > .label {
    padding: .2rem !important;
    margin-right: .5rem;
}

.manage-conflict-modal > .ui.bottom.attached.segment > .ui.basic.segment.m-0 > .ui.basic.segment.pt-0.pb-0 > .ui.list > .item > .ui.center.aligned.middle.aligned.grid > .three.column.row > .column:nth-of-type(3) > button {
    background: transparent;
}

.list-itens-elements {
    color: #FFF;
    font-size: .8em;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.list-itens-elements .mw-icon {
    font-size: 1.6em !important;
}

.list-itens-elements > .ui.grid > .column.row > .column:nth-of-type(1) > .mw-icon {
    margin-left: .5rem !important;
    margin-right: 0 !important;
}

.list-itens-elements > .ui.grid > .column.row > .column:nth-of-type(2) > h5.ui.header > .content {
    color: #FFF !important;
    font-weight: normal !important;
}

.list-itens-elements > .ui.grid > .column.row > .column:nth-of-type(2) > h5.ui.header > .content > .mw-icon {
    color: #FFF !important;
    font-size: 1em !important;
    margin-left: 1rem;
}

.list-itens-elements > .ui.grid > .column.row > .column:nth-of-type(2) > h5.ui.header > .content > .sub.header {
    color: rgba(255, 255, 255, .7) !important;
    font-weight: normal !important;
    font-size: .9em !important;
}

.list-itens-elements > .ui.grid > .column.row > .column:nth-of-type(3) > .ui.circular.label {
    margin-right: .5rem;
    padding: .3rem !important;
}

.resolved-conflicts {
    width: 30rem;
    margin: 2rem auto auto;
}

.resolved-conflicts > .ui.center.aligned.container > h3.ui.header.mb-4 > .sub.header {
    margin-top: 1rem;
}

.loader-segment {
    height: 0 !important;
}

.returns-stores {
    overflow-y: auto;
    padding: 0 1rem 0 .8rem;
}