
@media print {
    body {
        zoom: 43% !important;
        margin: 0 !important;
        padding: 10px !important;
        page-break-after: always !important;
        page-break-before: always !important;
        overflow: hidden !important;
        border-top:  0 !important;
        height:100% !important;


    }
    .page-wrapper{
      overflow-y: hidden !important;
      width: 100% !important;
      margin:0 !important
    }

     .simple-left-content{
      border: 0 !important;
      border: transparent !important;
    }
    .row4{
      margin: 20px 0 !important;
    }

    .last-row{
      margin: 40px  0 !important;
    }

    .widget19{
      border-top: 0 !important;
      border-bottom: 0 !important;
    }
}

@page {
    size: portrait !important;
    background-color:#ccc !important;
    overflow-y: hidden !important;

}


.grid-group{
    width: 100%;
    display:grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap:12px !important;
}
