.filtersPopupParent {
    width: 17.5rem;
}

.filtersPopupParent > .ui.grid > .row:nth-child(2) {
    padding-top: 0;
    max-height: 18rem;
    overflow-y: auto;
}

.popupChildrenToolbar {
    position: fixed !important;
    top: 14.8rem !important;
    max-width: 21rem !important;
}

.popupChildrenToolbar > .ui.basic.segment > .ui.grid > .row:nth-child(2) {
    padding-top: 0;
    height: 18rem;
    overflow-y: auto;
}