.mw-monthpicker-root {
  display: inline-block;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.mw-monthpicker-input {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none
}

.arrow-btn {
  min-width: 23px !important;
  height: 18px !important;
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: rgb(212, 212, 212);
  background-color: #fff;
}

.display-box {
  min-width: 110px;
  max-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  border: none;
  border-radius: 0px;
  background: #fff;
  font-size: 14px;
  color: #000000;
}

.calendar-trigger {
  min-width: 34px !important;
  height: 14px !important;
  padding: 0 !important;
  background-color: #fff;
  border: none;
}

.mw-popup-fix.ui.popup {
  margin-top: 6px !important;
  border-radius: 0px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  max-width: calc(100vw - 20px) !important;
  overflow: visible !important;
  background: transparent;
  padding: 0 !important;
  z-index: 1000 !important;
  position: relative;
}

.mw-popup {
  width: 260px;
  padding: 12px;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  position: relative;
}

.mw-popup-header {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  border: 1px solid #E9EAEC;
  background-color: #F7F8F9;
}

.year-label {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: -6px;
}

.year-arrow {
  min-width: 23px !important;
  height: 26px !important;
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
  background-color: #d1d9ec;
  position: relative;
  top: -6px;
  border: none
}

.months-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-bottom: 10px;
}

.month-cell {
  border: 1px solid #E9EAEC;
  padding: 10px 0;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  background: #fff;
  user-select: none;
  font-size: 13px;
}

.month-cell:hover {
  background: #f5f7fa;
}

.month-cell.selected {
  background: #3455AB;
  color: #fff;
  border-color: #3455AB;
}

.apply-row {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  padding-top: 10px
}
