#walletsHeader > i {
    float: right;
    font-size: 1.1em;
    background-color: var(--blue);
    color: #FFF
}

#walletsMenu{
    background-color: var(--light-gray);
}

#walletsMenu .item{
    padding: 20px 0 !important;
}