body > .itens-associated > div {
    box-shadow: 0 0 10px 1px var(--blue) !important;
}
.itens-associated .header {
    display: flex;
}

.itens-associated .header > .content {
    flex-grow: 1;
}

.itens-associated .header > .lat-check {
    padding: 7px;
}

.associated-menu {
    border: 0 !important;
    box-shadow: none !important;
}

.no-first-bg-menu {
    height: 66px;
}

.no-first-bg-menu > .item {
    padding-top: 4px !important;
    padding-bottom: 7px !important;
}

.no-first-bg-menu > .item .content {
    font-size: 16px;
    line-height: 22px;
}

.no-first-bg-menu > .item:before {
    background: transparent !important;
}

.no-first-bg-menu > .item:first-child {
    padding-left: 0 !important;
}

.associated-point {
    border-color: var(--headers-blue) !important;
}

.starting-point,
.itens-associated {
    padding: 0 .1rem;
    margin-bottom: 0.4rem;
}

.itens-associated.off-the-journey > div {
    /*box-shadow: 0 1px 3px 0 rgba(255, 30, 30, .5) !important;*/
    border-right: .2rem solid red;
}

.itens-associated {
    position: relative;
    counter-increment: section;
}

.itens-associated small {
    color: var(--black-70) !important;
}

.itens-associated:before {
    background: var(--headers-blue) !important;
    color: #FFF;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: counter(section);
    left: 10px;
    top: 8px;
    font-weight: 700;
    border-radius: 50%;
    z-index: 9;
    border: 1px solid var(--white) !important;
}

.starting-point > div,
.itens-associated > div {
    border-left: 1px solid #EAEAEA !important;
    border-top: 1px solid #EAEAEA !important;
    box-shadow: 0 1px 3px 0 rgba(34, 36, 38, .15) !important;
    border-radius: .15rem !important;
    background: var(--white) !important;
}

.starting-point > div:nth-child(1),
.itens-associated > div:nth-child(1) {
    height: 72px;
    margin-bottom: 0.4rem;
    padding: .5rem 0 !important;
    display: flex;
    align-items: center;
}

.starting-point > div:nth-child(1) > div:not(:last-child) {
    flex: 1 1 auto;
}

.itens-associated > div:nth-child(1) > div:nth-child(2) {
    width: 110px;
    margin-left: .5rem;
}

.starting-point > div:nth-child(1) > div:last-child {
    flex: 0 1 auto;
}

.starting-point > div:nth-child(1) > div >  h5.header > .content,
.itens-associated > div:nth-child(1) > div > h5.header > .content {
    font-weight: normal;
    margin-bottom: .3rem;
    display: grid;
}

.starting-point > div:nth-child(2),
.itens-associated > div:nth-child(2) {
    padding: .4rem 12px !important;
    font-size: .9rem;
    color: #525A6A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: .45;
}

.starting-point > div:nth-child(2) > div:not(:last-child),
.itens-associated > div:nth-child(2) > div:not(:last-child) {
    flex: 1 1 auto;
}

.starting-point > div:nth-child(2) > div:last-child,
.itens-associated > div:nth-child(2) > div:last-child {
    flex: 0 1 auto;
}

.itens-associated > div:nth-child(1) > div > h5.header > .content > .sub.header > span {
    display: block;
}

.itens-associated > div:nth-child(1) > div:nth-child(1) {
    flex: 1 1 auto;
    margin-left: 48px;
}

.itens-associated > div:nth-child(1) > div > h5.header > .content > .sub.header {
    margin-top: .3rem;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itens-associated > div:nth-child(1) > div:not(:first-child) {
    flex: 0 1 auto;
    padding: 0 .1rem;
}

.itens-associated input {
    padding: .5rem !important;
    text-align: center !important;
}

.itens-associated > div:nth-child(1) > div > .ui.form > .fields {
    margin: 0;
}

.itens-associated > div:nth-child(1) > div > .ui.form > .fields > .field {
    width: 6rem;
}

.itens-associated > div:nth-child(1) > div > .ui.form > .fields > .field:nth-child(1) > .input:after {
    content: '';
    position: absolute;
    width: 1rem;
    top: 50%;
    left: 100%;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.itens-associated > div:nth-child(1) > div > .duration {
    text-align: center;
    color: #525A6A;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens-associated > div:nth-child(1) > div > .duration .mw-icon {
    margin-left: .5rem !important;
}

.modal-starting-point > .ui.segment,
.modal-starting-point > .ui.segment > .basic.segment {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-starting-point > .ui.segment > .close-modal-basic {
    display: none;
}

.modal-starting-point > .ui.segment > .basic.segment > .floated.buttons {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment {
    margin: 0 !important;
    padding: 0 !important;
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .ui.pointing.menu > .item,
.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .ui.pointing.menu > .item:hover {
    color: var(--black-50);
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .ui.pointing.menu > .item.active,
.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .ui.pointing.menu > .item.active:hover {
    color: var(--blue);
    border-color: var(--blue);
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .segment.active.tab {
    border-color: transparent;
    box-shadow: none;
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .segment.active.tab > .ui.list > .item {
    margin-bottom: 1rem;
    cursor: pointer;
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .segment.active.tab > .ui.list > .item > .content > .header {
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .segment.active.tab > .ui.list > .item > .content > .header,
.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .segment.active.tab > .ui.list > .item > .content > .description {
    color: var(--headers-blue);
}

.modal-starting-point > .ui.segment > .basic.segment > .basic.segment > div > .segment.active.tab > h4.header > .content > .sub.header {
    margin-top: .3rem;
    font-size: .85rem;
}

.starting-point > .right.menu > .item:before,
.associated-point > .right.menu > .item:before {
    background: var(--headers-blue) !important;
}

.associated-point > .item {
    color: var(--headers-blue) !important;
    font-weight: 700 !important;
}

.associated-extra-time > .ui.segment {
    padding: 1.5rem !important;
    display: flex;
    flex-direction: row;
}

.associated-extra-time > .ui.segment > div:nth-child(1) {
    width: 10rem;
    color: var(--headers-blue);
    margin-right: 1.5rem;
}

.associated-extra-time > .ui.segment > div:nth-child(2) > span {
    display: inline !important;
    float: right;
    margin-top: -2.1rem;
    color: var(--headers-blue);
}

.associated-extra-time > .ui.segment > div:nth-child(2) > .field > .input > input {
    width: 4.7rem;
}

.change-duration .field > .ui.input {
    width: 80px !important;
}

.change-duration > .field > .ui.input > input {
    text-align: center !important;
}








.grid-repetition > .row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.grid-repetition > .row > .column:nth-child(1) {
    padding-right: 0 !important;
}

.grid-repetition > .row > .column:nth-child(2) {
    padding-left: 0 !important;
}

.grid-repetition > .row > .column > h3.header {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 0.75rem;
    margin-top: .75rem;
    margin-bottom: 0 !important;
}

.grid-repetition > .row > .column > h3.header > .content {
    font-weight: normal;
}

.grid-repetition > .row > .column > .ui.container {
    padding: 1rem .75rem;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .field:nth-child(1) {
    max-width: 15rem;
}

.grid-repetition > .row > .column > .ui.container > .ui.form label {
    margin-bottom: .75rem;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .force-inline {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .force-inline > .field {
    float: left;
    display: flex;
    align-items: center;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .force-inline > .field > label {
    margin-bottom: 0 !important;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .force-inline > .field > .ui.input {
    width: 4rem;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .days-repetition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .days-repetition > .field {
    margin-bottom: 0;
    padding: .4rem;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .configure-finish {
    display: flex;
    flex-direction: column;
}

.grid-repetition > .row > .column > .ui.container > .ui.form > .configure-finish > .fields > .field:not(:nth-child(1)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    padding-right: 2rem;
}

.grid-repetition > .row > .column:nth-child(1) > .ui.container {
    display: flex;
    flex-direction: column;
    height: 89.5%;
}

.grid-repetition > .row > .column:nth-child(1) > .ui.container > .footer {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    padding: .5rem 0 !important;
}

.grid-repetition > .row > .column:nth-child(1) > .ui.container > .footer > button {
    display: block !important;
    width: 10rem !important;
    float: right;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table {
    width: 100% !important;
    table-layout: fixed !important;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody > tr,
.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead > tr {
    display: flex;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead {
    background-color: #3b5998;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead > tr > th {
    background-color: transparent;
    color: #FFF;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody > tr > td {
    color: var(--black-70);
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody > tr > td:nth-child(1),
.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead > tr > th:nth-child(1) {
    width: 50% !important;
    padding: 1rem;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody > tr > td:nth-child(2),
.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody > tr > td:nth-child(3),
.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead > tr > th:nth-child(2),
.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead > tr > th:nth-child(3) {
    width: 15% !important;
    padding: 1rem;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody > tr > td:nth-child(4),
.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > thead > tr > th:nth-child(4) {
    width: calc(19% - 6px) !important;
    padding: 1rem;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > table.table > tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 19rem;
}

.grid-repetition > .row > .column:nth-child(2) > .ui.container > small {
    width: 100%;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--black-70);
}














.grid-travel > .row:nth-child(1) {
    background-color: var(--blue);
}

.grid-travel > .row:nth-child(1) > .column > h4.header > .content,
.grid-travel > .row:nth-child(1) > .column > h4.header > .content > .sub.header {
    color: var(--white);
}

.grid-travel > .row:nth-child(1) > .column:nth-child(2) {
    box-shadow: -1px 0 0 0 var(--white-20) !important;
}

.grid-travel > .row:nth-child(2) > .column > .ui.form > .field > .selection.dropdown > .menu > .item > .mw-icon {
    margin-right: .5rem !important;
}

.grid-travel .total-displacement {
    font-weight: 700;
    color: var(--black-70);
}

.grid-travel .total-displacement > span {
    float: right;
}

.define-tab > label:not(:last-child) > .tab-label {
    margin-bottom: 2rem;
}

.define-tab > label > .tab-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.define-tab > label > .tab-label > div:nth-child(1) {
    margin: 0 1rem;
}

.define-tab > label > .tab-label > div > h5.header > .content {
    font-weight: normal;
    color: var(--black-80);
    text-transform: uppercase;
}

.define-tab > label > .tab-label > div > h5.header > .content > .sub.header {
    text-transform: none;
    color: var(--black-80);
    margin-top: .5rem;
}

.define-tab > label > .tab-label > div > h5.header > .content > .sub.header > span {
    color: var(--black-50);
    margin-top: .2rem;
    font-size: .8rem;
}

.no-border-left {
    border-left: 0 !important;
}

.no-border-left::before {
    display: none;
}
