.container-associated {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.container-associated > .ui.divider {
    margin-bottom: .5rem !important;
}

.container-associated > .ui.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    height: 0;
}

.container-associated > .ui.container > .ui.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding-right: .5rem;
}

.container-associated > .ui.container > .group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    z-index: 1000;
}

.container-associated > .ui.container > .group-buttons > .field {
    margin: 0;
    padding: 0;
}

.container-associated > .ui.container > .group-buttons > .field:nth-child(2) > button {
    background: transparent !important;
    text-decoration: underline;
}

.div-conflicts-shop {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.div-conflicts-shop > div:nth-child(1) {
    flex: 1 1 auto;
}

.div-conflicts-shop > div:nth-child(1) > h5.header > .content {
    font-weight: normal;
}

.div-conflicts-shop > div:nth-child(1) > h5.header > .content > .sub.header {
    margin-top: .4rem;
}

.div-conflicts-shop > div:nth-child(1) > h5.header > .content > .sub.header > span {
    display: block;
    font-size: .8rem;
    margin-top: .1rem;
}

.div-conflicts-shop > div:nth-child(2) {
    font-weight: 700;
    font-size: .8rem;
    padding: 0 1rem;
    color: var(--black-70);
}

.div-conflicts-shop > div:nth-child(3) {
    font-weight: 700;
}

.global-empty {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: -webkit-right;
}

.global-empty > .component-empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component-empty.two > .component-empty > h4.ui.header, .component-empty.two > .component-empty > h4.ui.header > .sub.header {
    color: var(--headers-blue) !important;
}

.global-empty > button {
    width: fit-content;
    float: right !important;
}

.store-coverage {
    max-height: 200px;
    overflow: auto;
}

.store-coverage .item > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
