.stores-events {
    background-color: var(--headers-blue) !important;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stores-events:before {
    border-radius: 0 !important;
}

.stores-events > .ui.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1rem !important;
    justify-content: center;
    height: 0 !important;
}

.stores-events > .ui.container > .ui.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 0 1.1rem;
}

.stores-events > .ui.container > .component-empty {
    width: 23rem;
}

.stores-events > .ui.container > .component-empty > h3.header,
.form-select-all-stores > .fields > .field > .ui.checkbox > label,
.form-select-all-stores > .fields > .field > .ui.checkbox > label:after,
.list-store-item > .content > .field > .checkbox > label:after {
    color: var(--white) !important;
}

.stores-events > .ui.container > .component-empty > h3.header > .sub.header {
    color: var(--white-50);
}

.form-filter-stores-events > .fields > .field > .dropdown,
.form-filter-stores-events > .fields > .field > .dropdown:hover,
.form-filter-stores-events > .fields > .field > .input > input,
.form-filter-stores-events > .fields > .field > .input > input:focus {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .6);
    color: #FFF;
}

.form-filter-stores-events > .fields > .field > .input >  i.mw-icon {
    color: var(--white) !important;
    font-weight: 700;
}

.form-filter-stores-events > .fields > .field > .dropdown.active > .text {
    color: #FFF !important;
}

.form-select-all-stores > .fields > .field > .ui.checkbox {
    border: 1px solid var(--white-70);
    padding: .6rem 1rem;
    border-radius: .3rem;
}

.form-select-all-stores > .fields > .field > .ui.checkbox > label:before,
.list-store-item > .content > .field > .checkbox > label:before {
    background: transparent !important;
    border: 1px solid var(--white-70) !important;
}

.form-select-all-stores > .fields > .field > .ui.checkbox > label:hover:before,
.list-store-item > .content > .field > .checkbox > label:hover:before {
    border: 1px solid var(--white-70);
}

.list-store-item {
    border-color: var(--white-10) !important;
}

.list-store-item > .content {
    padding: .3rem 0;
    display: flex;
    flex-direction: column;
}

.list-store-item > .content:nth-child(1) {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-store-item > .content > .header,
.list-store-item > .content > .description {
    color: var(--white) !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow-x: hidden;
    padding-right: .5rem;
    width: 35rem;
}

.list-store-item > .content > .description {
    margin-top: .1rem;
    color: var(--white-80) !important;
}

.list-store-item > .content > .description > div {
    display: block !important;
    clear: both !important;
    margin-top: .5rem;
    font-size: .9rem;
    color: var(--white-70);
    float: left;
    width: 100%;
}

.list-store-item > .content > .description > div > span {
    float: left;
    margin-top: .4rem;
}

.list-store-item > .content > .description > div > .ui.label {
    background-color: transparent;
    color: var(--white);
    float: right;
}

.list-store-item > .content > .description > div > .ui.label > .label {
    font-size: .65rem;
    margin-right: .5rem;
}

.empty__white > h4,
.empty__white > h4 > .sub.header {
    color: var(--white) !important;
}
