@page {
  margin: 21px;
}


@media print {
  section {
    width: 100% !important;
  }

  div.hide-on-print, button.hide-on-print, *.hide-on-print {
    display: none !important;
  }

  .pilares{
      width:100% !important;
      display:flex !important;
      flex-direction:row !important;
      align-items:center !important;

  }



  .pagebreak {
    margin-top: 210px;
  }

}
