.manager_Routes thead th:nth-child(2),
.manager_Routes tbody td:nth-child(2) {
    width: 124px;
    text-align: center !important;
}

.managerRowItemHeader {
    font-size: .8em !important;
    font-weight: normal !important;
    color: #6B6B6B !important;
    display: inline-block;
}

.managerRowItemHeader .sub.header {
    color: #333 !important;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.managerRowItemPopup {
    font-size: .8em !important;
    font-weight: normal !important;
    color: #6B6B6B !important;
    display: inline-block;
}

.managerRowItemPopup .sub.header {
    color: #333 !important;
    display: inline-block;
}

.managerRowPublishHeader {
    font-size: 1em !important;
    font-weight: normal !important;
    color: #6B6B6B !important;
    display: inline-block;
    position: relative;
    text-indent: 15px;
}

.managerRowPublishHeader.success::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #33CC99;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0;
}

.managerRowPublishHeader.error::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #FF9E7D;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0;
}

.managerRowPublishHeader .sub.header {
    color: #333 !important;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-indent: 0;
}
