.rbc-calendar {
    min-height: 78rem;
}

.special-day {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    color: var(--black-30);
}

.special-day:after {
    content: '\e92b';
    font-family: 'icomoon', serif !important;
    width: 32px;
    height: 32px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 5;
}

.special-day:hover:after {
    color: var(--blue) !important;
}

.rbc-date-cell {
    padding: 4px .8em 4px 4px;
    z-index: 6 !important;
    border-bottom: 1px solid var(--light-gray-two);
    background-color: var(--light-gray);
    font-size: .8em;
    color: var(--black-50);
    pointer-events: auto;
}

.rbc-month-row {
    z-index: 4;
}

.rbc-month-row > .rbc-row-content {
    pointer-events: none;
    height: 100%;
}

.rbc-date-cell.rbc-now.rbc-current {
    color: var(--black-70) !important;
}

.rbc-date-cell.rbc-now.rbc-current .label {
    background-color: var(--headers-blue) !important;
    border-color: var(--headers-blue) !important;
}

.rbc-off-range-bg, .rbc-today {
    background-color: inherit !important;
}

.rbc-row-segment button {
    border-radius: 0;
}

.rbc-event {
    background-color: var(--blue);
    z-index: 8;
    pointer-events: auto;
    width: 100%;
}

.rbc-event:hover {
    background-color: var(--blue-pool);
}

.rbc-show-more {
    pointer-events: auto;
}

.rbc-event .item .header div {
    color: #FFF;
    margin-bottom: .3rem;
    font-weight: bold;
}

.rbc-event .item .description,
.rbc-event .item .header div {
    max-width: 9.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rbc-event .item .header > .mw-icon {
    float: right;
    font-weight: bold;
    color: #FFF;
    position: relative;
    top: -1.2rem;
    right: -.4rem;
}

.rbc-event .rbc-event-content {
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    font-size: .9em;
    padding: 8px 3px;
}

.rbc-event .rbc-event-content:hover {
    color: #FFF !important;
}

.rbc-overlay {
    max-height: 24rem;
    overflow-y: auto;
    padding: 15px;
}

.rbc-overlay .rbc-overlay-header {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black-80);
}

.rbc-overlay .rbc-event {
    border-radius: unset;
}

.renderTitle {
    background-color: var(--headers-blue) !important;
}

.renderTitle .item {
    text-transform: uppercase !important;
}

.renderTitle > .right.menu > .item:nth-child(1) {
    padding-right: .5em !important;
}

.renderTitle > .right.menu > .item:nth-child(2) {
    padding-left: .1em !important;
    padding-right: 1em !important;
}

.dayActions {
    margin: 0 !important;
    min-height: inherit !important;
}

.dayActions > .item {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
