.ui.secondary.menu .item {
    margin: 0 !important;
}

.componentList {
    height: 40vh;
    overflow-y: scroll;
}

.ui.attached.segment.componentList:last-of-type {
    height: 46.5vh;
}

.minWidthInput {
    min-width: 230px;
}

.menuItens.ui.menu .item:nth-child(2):before {
    background-color: transparent;
}

.ui.list .field {
    margin-bottom: 7px;
    text-transform: uppercase;
    margin-left: 2px;
}
/*
.ui.borderless.attached.menu {
    border-bottom: 1px solid #D4D4D5 !important;
}
*/
.titleMenu {
    font-weight: bold !important;
}

.titleMenu:before {
    background-color: transparent !important;
}

.itensList {
    position: relative;
}

.iconRemove {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ACACAC;
    background-color: #ACACAC;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
}