/*
.ui.list.events > .item{
    padding: 8px !important;
    background-color: #f5f5f5;
}
*/
.ui.list.events > .item > .icon {
    width: 28px !important;
    float: left;
    padding-left: 0;
    font-size: 24px;
    margin-top: 5px !important;
    color: var(--black-80);
}

.ui.list.events > .item .header {
    font-size: 16px;
    color: var(--blue)
}

.ui.list.events > .item .description {
    color: var(--black-50);
    font-size: 13px;
}

.ui.list.events > .item > .list {
    color: var(--black-70);
    margin-left: 1.50rem;
}