.view-auditing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.view-auditing > .sidebar {
    margin-right: .75rem;
    padding-right: .75rem;
    width: 22.214285714285715rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--black-10);
}

.view-auditing > .sidebar > .card {
    border: 1px solid var(--black-10);
    border-radius: .2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.view-auditing > .sidebar > .card > .mw-icon.icon-external-link {
    position: absolute;
    top: .75rem;
    right: .75rem;
    color: var(--black-30);
}

.view-auditing > .sidebar > .card > h3.header {
    margin-top: 0;
}

.view-auditing > .sidebar > .card > h3.header > .content {
    font-weight: normal;
    color: var(--blue-facebook);
    max-width: 18.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-auditing > .sidebar > .card > h3.header > .content > .sub.header {
    margin-top: 1rem;
}

.view-auditing > .sidebar > .card > h3.header > .content > .sub.header > strong {
    color: var(--black-90);
}

.view-auditing > .sidebar > .card > h3.header > .content > .sub.header > strong > span {
    display: block;
}







.view-auditing > .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow-y: hidden;
    position: relative;
}

.view-auditing > .body > h3.header {
    border-bottom: 1px solid var(--black-20);
    padding-bottom: .75rem;
    margin-bottom: 1rem;
}

.view-auditing > .body > h3.header > .content {
    font-weight: normal;
    color: var(--blue-facebook);
}

.view-auditing > .body > .content {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
    padding-right: 1rem;
}

.view-auditing > .body > .content > .header {
    padding: 1rem .5rem;
    margin: .5rem;
    text-align: right;
}

.view-auditing > .body > .content > .header > .ui.input {
    border-bottom: 1px solid var(--black-20);
    margin-right: 2rem;
}

.view-auditing > .body > .content > .header > .ui.input > input {
    font-weight: 700;
}

.view-auditing > .body > .content > .header > .ui.dropdown > .default.text {
    font-weight: normal;
}

.view-auditing > .body > .content > .header > .ui.dropdown > .text {
    margin-right: .5rem;
}

.view-auditing > .body > .content > .header > .ui.dropdown > i {
    color: var(--black-30) !important;
}

.view-auditing > .body > .content > .card {
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 2px .5rem 0 var(--black-10);
    border-radius: .2rem;
    margin: 1rem .2rem;
}

.view-auditing > .body > .content > .card table.table,
.view-auditing > .body > .content > .card table.table > thead > tr > th ,
.view-auditing > .body > .content > .card table.table > tbody > tr > td {
    border-color: transparent !important;
}

.view-auditing > .body > .content > .card table.table > thead > tr > th {
    color: var(--headers-blue);
    font-weight: normal;
}

.view-auditing > .body > .content > .card table.table > tbody > tr > td > span {
    display: block;
    color: var(--black-40);
    margin-top: .3rem;
}

.view-auditing > .body > .content > .card table.table > tbody > tr > td > i.mw-icon {
    font-weight: 700;
    color: var(--black-70);
}

.view-auditing > .body > .content > .card > .header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: .5rem 1rem;
}

.view-auditing > .body > .content > .card > .header > div:nth-child(1) {
    flex-shrink: 0;
    flex-grow: 1;
    color: var(--blue-facebook);
    padding: .65rem 0;
}

.view-auditing > .body > .content > .card > .header > div:nth-child(1) > span {
    color: var(--black-40);
    margin-left: .75rem;
}

.view-auditing > .body > .content > .card > .header > div:nth-child(2),
.view-auditing > .body > .content > .card > .header > div:nth-child(3) {
    padding: .6rem;
    font-size: 1.5rem;
    color: var(--headers-blue);
}

.view-auditing > .body > .content > .card > .header > div:nth-child(4) > .ui.dropdown {
    background: #B5B5B5;
    border-color: transparent;
}

.view-auditing > .body > .content > .card > .header > div:nth-child(4) > .ui.dropdown.origin {
    background: #36CE73 !important;
}

.view-auditing > .body > .content > .card > .header > div:nth-child(4) > .ui.dropdown > .text {
    font-weight: 700;
}

.view-auditing > .body > .content > .card > .header > div:nth-child(4) > .ui.dropdown > .text,
.view-auditing > .body > .content > .card > .header > div:nth-child(4) > .ui.dropdown > i {
    color: var(--white);
}

.view-auditing > .body > .content > .card > .card-view {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
}

.view-auditing > .body > .content > .card > .card-view .fixedDataTableLayout_main,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTable_header,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTable_hasBottomBorder,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTableCell_main,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTableRow_fixedColumnsDivider,
.view-auditing > .body > .content > .card > .card-view .public_Scrollbar_main.public_Scrollbar_mainActive,
.view-auditing > .body > .content > .card > .card-view .public_Scrollbar_main {
    border-color: transparent !important;
}

.view-auditing > .body > .content > .card > .card-view .public_fixedDataTable_header,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTable_scrollbarSpacer,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTable_header .public_fixedDataTableCell_main,
.view-auditing > .body > .content > .card > .card-view .public_fixedDataTableRow_columnsShadow {
    background-color: var(--white) !important;
    background-image: none !important;
}

.view-auditing > .body > .content > .card > .card-view .fixedDataTableLayout_rowsContainer {
    color: var(--headers-blue);
}

.view-auditing > .body > .content > .card > .card-view .fixedDataTableLayout_rowsContainer span {
    font-size: .85rem;
    color: var(--black-50) !important;
    display: block;
}

.view-auditing.popup-card {
    margin-left: 2rem !important;
    margin-top: 8.3rem !important;
    border-color: transparent !important;
    padding: 1.5rem !important;
}

.view-auditing.popup-card > h3.header > .content {
    font-weight: normal;
    color: var(--blue-facebook);
}









.view-auditing.popup-card > .planning-stage {
    width: 48rem;
    height: 25rem;
    margin-top: 1rem;
    float: left;
    display: flex;
    flex-direction: column;
}

.view-auditing.popup-card > .planning-stage > .header {
    display: flex;
    flex-direction: row;
}

.view-auditing.popup-card > .planning-stage > .header > div {
    width: 50%;
}

.view-auditing.popup-card > .planning-stage > .header > div > .content:not(:last-child) {
    margin-bottom: 1rem;
}

.view-auditing.popup-card > .planning-stage > .header > div > .content > .progress {
    margin: .57rem 0;
}

.view-auditing.popup-card > .planning-stage > .header > div > .content > .subtitle {
    color: var(--black-40);
}

.view-auditing.popup-card > .planning-stage > .header > div:nth-child(2) > .content {
    position: relative;
}

.view-auditing.popup-card > .planning-stage > .header > div:nth-child(2) > .content.disabled:before {
    background: var(--white-80) !important;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.view-auditing.popup-card > .planning-stage > .header > div:nth-child(2) > .content > .title {
    padding-left: 1rem;
    position: relative;
}

.view-auditing.popup-card > .planning-stage > .header > div:nth-child(2) > .content > .title:before {
    content: '';
    position: absolute;
    background: #2185d0;
    width: .5rem;
    height: .5rem;
    border-radius: 1rem;
    top: .5rem;
    left: 0;
}

.view-auditing.popup-card > .planning-stage > .footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--black-10);
}

.view-auditing.popup-card > .planning-stage > .footer > .title > span {
    color: var(--black-40);
}

.view-auditing.popup-card > .planning-stage > .footer > .ui.list {
    overflow-y: scroll;
    padding-right: 1rem;
    width: 100%;
}









.modal-chat > .segment > .segment > h3.header {
    position: relative;
}

.modal-chat > .segment > .segment > h3.header > .content {
    color: var(--black-90) !important;
}

.modal-chat > .segment > .segment > h3.header > .content > .sub.header {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-40);
    position: absolute;
    top: .05rem;
    left: 7rem;
}

.modal-chat > .segment > .segment > .ui.divider {
    display: none;
}

.modal-chat > .segment > .segment > .segment {
    overflow: hidden !important;
    padding: 0 !important;
    height: 31rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
}

.modal-chat > .segment > .segment > .segment > .messages {
    padding: 1rem;
    border: 1px solid var(--black-10);
    border-radius: .2rem;
    overflow-y: scroll;
    flex: 1;
    margin-bottom: 1rem;
    clear: both;
}

.modal-chat > .segment > .segment > .segment > .messages > .item {
    margin-bottom: 1rem;
}

.modal-chat > .segment > .segment > .segment > .messages > .item.right {
    text-align: right;
}

.modal-chat > .segment > .segment > .segment > .messages > .item.right > img {
    float: right;
    margin-left: .75rem;
    margin-right: 0 !important;
}

.modal-chat > .segment > .segment > .segment > .messages > .item > .content {
    max-width: calc(50% - 5.75rem);
    margin-left: .75rem;
    margin-right: .75rem;
}

.modal-chat > .segment > .segment > .segment > .messages > .item > .content > .header {
    color: #535D77;
    margin-bottom: .6rem;
}

.modal-chat > .segment > .segment > .segment > .messages > .item > .content > .description {
    color: var(--black-70);
}

.modal-chat > .segment > .segment > .segment > .messages > .item > .content > .description > span {
    font-size: .8rem;
    color: var(--black-40);
    display: block;
    margin-top: .50rem;
}

.modal-chat > .segment > .segment > .segment > .ui.form {
    clear: both;
}

.modal-chat > .segment > .segment > .segment > .ui.form > textarea {
    margin-bottom: 1rem;
}

.modal-log > .segment > .segment > h3.header > .content > .sub.header {
    font-weight: 700;
    color: var(--blue-facebook);
    margin-top: .5rem;
}

.modal-log > .segment > .segment > .segment > h4.header {
    font-size: 1.1rem;
    margin: 0 !important;
}

.modal-log > .segment > .segment > .segment > .ui.list {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.modal-log > .segment > .segment > .segment > .ui.list > .item {
    padding: 1rem 0;
}

.modal-log > .segment > .segment > .segment > .ui.list > .item > .left.content,
.modal-log > .segment > .segment > .segment > .ui.list > .item > .right.content {
    color: var(--black-60);
}

.modal-log > .segment > .segment > .segment > .ui.list > .item > .left.content > .header {
    color: var(--blue-facebook);
    margin-bottom: .4rem;
}

.modal-log > .segment > .segment > .segment > .ui.list > .item > .right.content > .header {
    font-weight: normal;
    margin-bottom: .4rem;
    color: var(--black-90) !important;
}

.modal-log > .segment > .segment > .segment > .ui.list > .item > .content:nth-child(3) {
    margin: 0 1rem;
}

.modal-log > .segment > .segment > .segment > .ui.list > .item > .content:nth-child(2) {
    color: var(--black-90) !important;
}
