


  @media print {
    .speed-movel {
      width: 75% !important;

    }

    div.hide-on-print, button.hide-on-print, *.hide-on-print {
      display: none !important;
    }


    .pagebreak {
      margin-top: 210px;
    }

  }
