.gm-style .gm-style-iw-c {
  padding-right: 14px !important;
  padding-bottom: 14px !important;
}

.gm-style .gm-style-iw-c :first-child {
  overflow: hidden !important;
}

.infoBox {
  transform: translateY(-40px) !important;
  overflow: hidden !important;
  height: 140px !important;
}
